body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse {
    background-color: #020662 !important;
    border-color: #020662;
    color: #fff !important;
}


.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    font-size: 105% !important;
    opacity: .9 !important;
    top: .3em;
    font-weight: 400;
    margin-top:5px;
}